.dark-background {
    background-color:#33475b;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    margin-bottom: 10px;  /* khoảng cách giữa các ảnh */
}

.dashboard {
    display: flex;
}

.sidebar {
    margin-left: 10px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    margin-top: 50px;
}

.zoom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: calc(100% - 20px);
    max-width: 50px;
    /* height: 100px; */
    border-radius: 25px;
    height: auto;
    background-color: rgb(154, 160, 152);
    /* padding: 16px; */
    /* box-sizing: border-box; */
}

.zoom img {
    /* transform: translateY(-50%); */
    padding: 10px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #969494;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-chapter-nav {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    /* position: fixed; */
}

.overlay .close-chapter-nav:hover {
    font-weight: bold;
}

.span-nav {
    position: fixed;
    top: 40%;
    left: 10;
    transform: translateY(-50%);
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
}

.span-nav:hover {
    font-weight: bold;
}

.chapter-nav a {
    font-size: 10px;
}

.content-list {
    margin-left: 50px;
}

.category-list {
    display: flex;
    /* margin-left: 30px; */
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
} 

.category-img {
    border-radius: 25px;
}

.index {
    display: flex;
    flex-direction: column;

    align-items: center;
}